<!DOCTYPE html>
<html>

<head>
    <title>Stock Ticker</title>
    <meta name="description" content="Financial stock tickers">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton|News+Cycle|Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename ='style.css') }}">
    <script src="static/js/script.js"></script>
    

</head>

<body>
    <div class="container">

            <section class="flash">
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
            </section>

                <p class="intro">Hello, {{ current_user }}.</p>
                <form id="form-search" action="/search" method="post">
                    <div class="form-group">
                        <p class="form-search-header">Search for stocks here:</p>
                        <input class="form-control" type="text" placeholder="Stock Symbol" name="stock" id="stock-symbol" required>
                        <button class="btn btn-default" name="search-button">Search</button>
                    </div>
                </form>

                <div class="hidden-flash">Please try a different stock symbol.</div>

                <hr>
                <div class="stocks-container">
                    <p id="stocks-headline">Your Stocks</p>
                    <div id="stocksToUpdate" style="display: none">{{ stock_list }}</div>
                    <p class="sub-header">(Click on the stock symbols below for more information)</p>
                    <div class="your-stocks" id="stocks">
                        {% if no_stocks %}
                        <div class="no-stocks">
                            {{ no_stocks }}
                        </div>
                        {% else %}
                        {% for stock in stock_list %}
                        <ul class='stock'>
                            <li>
                                <p class="stock-modal">Stock Symbol: <a href="#" data-toggle="modal" data-target="#stockModal">
                                    {{ stock.symbol }}</a>
                                </p>     
                                <!-- Modal -->
                                <div class="modal fade" id="stockModal" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="stockModalLabel">Additional Stock Info</h4>                                                
                                            </div>
                                            <div class="modal-body">
                                                <ul>
                                                    <li>Company: {{stock.name}}</li>
                                                    <li>Year High: {{stock.high}}</li>
                                                    <li>Year Low: {{stock.low}}</li>
                                                    <li>Market Capitalization: {{stock.cap}}</li>
                                                    <li>% Change (Previous Close): {{stock.percent}}</li>                                               
                                                </ul>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>Quote Price: {{ stock.price }}</li>
                            <li>Quote Time: {{ stock.time }}</li>
                            <li>Change From Previous Close: {{ stock.change }}</li>
                        </ul>
                        <a href="/delete" id={{ stock.symbol }} class="delete"><span class="glyphicon glyphicon-trash"></a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <section class="error">
                    {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }} {% endif %}
                </section>
                <a href="/logout"><button class="btn btn-default" value="Logout">Logout</button></a>

    </div>

</body>

</html>
