<!DOCTYPE html>
<html>

<head>

    <title>Stock Ticker</title>
    <meta name="description" content="Financial stock tickers">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link href="https://fonts.googleapis.com/css?family=Anton|News+Cycle|Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename ='style.css') }}">

</head>

<body>
    <div class="container">

        <section class="flash">
        {% with messages = get_flashed_messages() %}
             {% if messages %}
                   {% for message in messages %}
                   {{ message }}
                   {% endfor %}
             {% endif %}
          {% endwith %}
      </section>

      <div class="main">
          <h1>Hello, {{ session.username }}.</h1>

          <form class="form-search" action="" method="post">
              <h2 class="form-search-header">Search for stocks here</h2>
              <input type="text" placeholder="Stock Symbol" name="stock" value="{{ request.form.stock }}" id="stock-symbol" required>
              <button class="btn btn-default" type="button" name="search-button">Search</button>
          </form>
          <div class="stocks-container">
              <div class="your-stocks">
                  <h3>Your Stocks</h3>
                    {% for stock in stock_list %}
                        <div class='stock'>
                            {{ stock.symbol }}  {{ stock.price }}  {{ stock.time }}
                        </div>
                    {% endfor %}
                </div>
            </div>

          <section class="error">
          {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
          {% endif %}
        </section>
          <a href='/logout'><button class="btn btn-default" type="submit" value="Logout">Logout</button></a>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="static/js/script.js"> </script>

</body>
</html>
