<!DOCTYPE html>
<html>

<head>
    <title>Stock Ticker</title>
    <meta name="description" content="Financial stock tickers">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link href="https://fonts.googleapis.com/css?family=Anton|News+Cycle|Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename ='style.css') }}">

</head>

<body>
    <div class="container">

            <section class="flash">
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
            </section>

                <h1>Hello, {{ current_user }}.</h1>
                <form id="form-search" action="/search" method="post">
                    <div class="form-group">
                        <h3 class="form-search-header">Search for stocks here:</h3>
                        <input class="form-control" type="text" placeholder="Stock Symbol" name="stock" id="stock-symbol" required>
                        <button class="btn btn-default" name="search-button">Search</button>
                    </div>
                </form>

                <div class="hidden-flash">Please try a different stock symbol.</div>
                <div class="stocks-container">
                    <h3 id="foo">Your Stocks</h3>
                    <div id="stocksToUpdate" style="display: none">{{ stock_list }}</div>
                    <p class="sub-header">(Click on the stock below for more information)</p>
                    <div class="your-stocks" id="stocks">
                        {% if no_stocks %}
                        <div class="no-stocks">
                            {{ no_stocks }}
                        </div>
                        {% else %}
                        {% for stock in stock_list %}
                        <ul class='stock'>
                            <li>Stock Symbol: {{ stock.symbol }}</li>
                            <li>Quote Price: {{ stock.price }}</li>
                            <li>Quote Time: {{ stock.time }}</li>
                            <li>Change From Previous Close: {{ stock.change }}</li>
                        </ul>
                        <a href="/delete" id={{ stock.symbol }} class="delete"><span class="glyphicon glyphicon-trash"></a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <section class="error">
                    {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }} {% endif %}
                </section>
                <a href="/logout"><button class="btn btn-default" value="Logout">Logout</button></a>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="static/js/script.js">
    </script>

</body>

</html>
