body {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: url('./images/clocks.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hide {
  display: none;
}

.flash, header, h1, h3, p {
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

.stocks-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.welcome {
    font-size: 4em;
    margin: 0 auto 5px;
}

.intro {
    font-size: 3em;
    margin: 0 auto 25px;
}

.sub-header {
    font-size: .9em;
}

.form-search-header {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

#stocks-headline {
    margin-top: 20px;
    font-size: 2em;
}

form {
    display: flex;
    justify-content: center;
    align-self: center;
    border: 1px solid white;
    width: 350px;
    padding: 15px;
}

.your-stocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 21px 25px;
}

.form-control {
    width: 200px;
    text-align: center;
    margin: 10px auto;
}

.stock {
    border: solid grey 1px;
    border-radius: 5px;
    padding: 12px;
}

.stock:nth-child(even) {
    background-color: rgba(255,255,255,0.5);
}

.stock:nth-child(odd) {
    background-color: rgba(255,255,255,0.8);
}

.stock-modal {
    color: black;
}

.no-stocks {
    background-color: rgba(255,255,255,0.8);
    border: solid grey 1px;
    border-radius: 5px;
    padding: 12px;
}

.delete {
    padding: 0 7px 14px 2px;
    display: flex;
    align-self: flex-end;
}

.hidden-flash {
    display: none;
}