body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    text-align: center;
    height: 100vh;
    background: url('./images/clocks.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hide {
  display: none;
}

.container {
    padding: 25px;
    background-color: rgba(255,255,255,.8);
    border-radius: 10px;
    width: 75%;
}

.stocks-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
}

.your-stocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 21px 25px;
}

.form-control {
    width: 200px;
    text-align: center;
    margin: 10px auto;
}

.stock {
    border: solid grey 1px;
    padding: 12px;
    width: 150px;
}

.stock:nth-child(even) {
    background: white
}
.stock:nth-child(odd) {
    background: lightgrey
}

.delete {
    padding: 0 7px 3px 2px;
    display: flex;
    align-self: flex-end;
}

.hidden-flash {
    display: none;
}
